# 2.3 for 문
- for문은 while문에 비해서 한눈에 시작, 끝, 변화조건을 확인할 있어서 많이 사용된다.
- for문과 while문은 100% 호환된다

In [1]:
name_list = ['홍길동', '임꺽정', '장길산', '일지매', '차돌바위']
for name in name_list:
    print(name)

홍길동
임꺽정
장길산
일지매
차돌바위

In [3]:
name_list = ['홍길동', '임꺽정', '장길산', '일지매', '차돌바위']
for name in name_list:
    print(name, end=' ')

홍길동 임꺽정 장길산 일지매 차돌바위

In [4]:
name_list = ['홍길동', '임꺽정', '장길산', '일지매', '차돌바위']
for name in name_list:
    print(name, end=', ')

홍길동, 임꺽정, 장길산, 일지매, 차돌바위,

In [5]:
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [6]:
for i in range(11):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [7]:
for i in range(0, 10, 2):
    print(i, end=' ')

0 2 4 6 8

In [10]:
for i in range(10, 0, -2):
    print(i, end=' ')

10 8 6 4 2

In [12]:
name_list = ['나폴레옹', '한니발', '알렉산더', '웰링턴']
for i in range(len(name_list)):
    print(name_list[i], end=' ')

나폴레옹 한니발 알렉산더 웰링턴

In [14]:
for i in range(1, 10):
    print("3 x {} = {}".format(i, 3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [15]:
for i in range(1, 10):
    print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

### 리스트 내포

In [16]:
numbers = [i for i in range(0, 10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
threeDan = [3*i for i in range(1, 10)]
threeDan

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [18]:
numbers = []
for i in range(0, 10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
numbers = list()
for i in range(0, 10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
evenNumbers = [i for i in range(0, 10) if i%2 == 0]
evenNumbers

[0, 2, 4, 6, 8]

In [21]:
evenNumbers = []
for i in range(0, 10):
    if i%2 == 0:
        evenNumbers.append(i)

evenNumbers

[0, 2, 4, 6, 8]